@import url("https://fonts.googleapis.com/css2?family=Poppins");

/* General styling */
:root {
  --primary-color: #133588;
  --secondary-color: #806c6c;
}
body{
  margin: 0;
  color: #fff;
}
*{
  box-sizing: border-box;
}


.App {
  font-family: Poppins;
 
}

h2{
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* Hero Section styling */
.hero-section{
  margin-bottom: 4rem;
  padding-top: 20px;
  background-image: url('https://assets.codepen.io/6060109/agency-hero-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 50vh;
  position: relative;
}

.navigation ul{
  width: 25%;
  padding-left: 0;
  
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navigation li{
  font-size: 0.75rem;
list-style-type: none;
text-transform: uppercase;
}

.navigation a{
  color: #fff;
  text-decoration: none;
}
.hero-heading{
  
  position:absolute;
  top: calc(50% - 20px);
  transform: translate(50%,-50%);
  right: 50%;
  
}

/* Service section styling */

.services-container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.services-container img{
  text-align: start;
  width: 80%;
}
.services-heading{
  text-align: center;
  color: var(--primary-color);
}

.services{

  margin: 0;
  text-transform: uppercase;
  color: var(--secondary-color);
}
